@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body{margin:0}
nav{
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;

}
ul{
    display:flex;
    list-style: none;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 20px;
    padding:0;
    margin:0;
}
.primary__nav{
    padding: 5px 30px;


}
