
.carrousel
{
  position: relative;
  .flechegauche
  {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 8%;
    top: 45%;
  }
  .flechedroite
  {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 35%;
    left: 8%;
  }
}
