$text: #242424;
$pink: #FCEDFF;
$grey: #888888;
$blue: #E0E5FF;
<<<<<<< HEAD
$primary-font: 'Montserrat',sans-serif;
=======
$primary-font: 'Nunito', sans-serif;
>>>>>>> a8f977ef76d9597c45fd4e7f6fa07342d6b3cf78
