.footer {
  display: flex;
  flex-direction: row;
  font-family: $primary-font;
  justify-content: center;
  .footer__column {
    margin: 100px;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }
    .footer__column__socials {
      svg {
        width: 30px; height: 30px;
        fill: black;
        color: black;
        margin: 5px;
      }
      a:hover svg {
        fill: $darkpink;
      }
    }
  }
  h3, h4 {
    font-weight: bold;
    color: $text;
    text-align: center;
    font-size: 0.9rem;
  }
  a h3:hover, h4:hover {
    color: $darkpink;
  }
  h2 {
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
  }
  h2 + p {
    font-size: 0.7rem;
    text-align: center;
    font-weight: lighter;
  }
}
