.main__article2{
    margin-top: 8vh;
    padding-bottom: 60px;
    background-color: $pink;
    font-family: $primary-font;
    h3{
        position: relative;
        top:-48px;
    }
    .center{
        text-align: center;
    }
    .products{
        display: inline-flex;
        text-align: center;
        margin:0 auto;
    }
    .item{
        padding: 0 20px;
        @media screen and (max-width: $break-small) {
        padding: 0;
        }
        img{
            margin-bottom: 20px;
        }
        .bold{
            font-weight: 700;
        }
        p{
            margin:0;
        }
    }


}
