main
{
  font-family: $primary-font;
  h3
  {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 20px 100px;
    color: $text;
  }
}

.main__article ul li
{
  list-style: none;
}
.main__article__centrer
{
  text-align: center;
  a
  {
    text-decoration: none;
    border: 2px solid $text;
    border-radius: 5px;
    padding: 8px;
    color: $text;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    &:after
    {
      content: "";
      background: $blue;
      border-radius: 5px;
      z-index: -1;
      width: 102%;
      height: 110%;
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
  div
  {
    p
    {
      margin: 0;
      font-size: 0.8rem;
      color: $grey;
    }
    img
    {
      margin: 5px;
    }
  }
}
.main__article__container
{
  margin: 35px auto;
  width: 600px;
  div
  {display: flex;
  flex-direction: row;
  align-items: center;}
}
