@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i");
.desc {
  padding: 10px;
  background-color: #E0E5FF;
  position: relative;
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  font-style: italic; }

header {
  display: flex; }
  header .logo {
    margin-left: 30px;
    width: 100px;
    height: 100px; }
    @media screen and (max-width: 1024px) {
      header .logo {
        margin: 0 auto; } }

nav {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    nav {
      display: none; } }
  nav ul {
    list-style: none; }
  nav .logo {
    margin-left: 30px;
    width: 150px;
    height: 150px; }
  nav .navigation {
    padding: 30px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bold; }
  nav h2 {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    position: relative; }
    nav h2:hover::after {
      width: 110%; }
    nav h2::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: -7px;
      background-color: #FCEDFF;
      z-index: -1;
      width: 0%;
      height: 20px;
      transform: skewX(-30deg);
      transition: all 0.3s ease-out; }
  nav .primary__nav {
    margin: 5px 1.5vw;
    cursor: pointer;
    position: relative;
    text-align: center;
    z-index: 1; }
    nav .primary__nav ul {
      flex-direction: column;
      min-width: 200px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px 10px 10px 10px;
      display: none;
      border-radius: 5px;
      position: absolute; }
  nav .primary__nav ul li {
    padding: 2px 0px;
    color: #888888;
    font-weight: 600;
    font-size: 1rem;
    text-align: left; }
    nav .primary__nav ul li:hover {
      color: #242424; }
  nav .primary__nav:hover ul {
    display: block;
    z-index: -2; }

.user__service {
  font-size: 1.2rem;
  font-weight: bold; }
  .user__service div {
    display: flex;
    align-items: center;
    position: relative; }
    .user__service div:hover::after {
      width: 110%; }
    .user__service div::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: -7px;
      background-color: #FCEDFF;
      z-index: -1;
      width: 0%;
      height: 20px;
      transform: skewX(-30deg);
      transition: all 0.3s; }
  .user__service img {
    width: 50px;
    height: 50px; }
  .user__service p {
    margin: 0;
    position: relative; }

.carrousel {
  position: relative; }
  @media screen and (max-width: 1024px) {
    .carrousel {
      z-index: -1; } }
  .carrousel .flechegauche {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 8%;
    top: 45%; }
    .carrousel .flechegauche img {
      width: 50px;
      height: 50px; }
      @media screen and (max-width: 1024px) {
        .carrousel .flechegauche img {
          display: none; } }
  .carrousel .flechedroite {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 39%;
    left: 8%; }
    .carrousel .flechedroite img {
      width: 50px;
      height: 50px; }
      @media screen and (max-width: 1024px) {
        .carrousel .flechedroite img {
          display: none; } }

main {
  font-family: "Nunito", sans-serif; }
  main h3 {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 20px 100px;
    color: #242424; }
    @media screen and (max-width: 1024px) {
      main h3 {
        padding: 20px 50px; } }

.main__article__pros {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px 0; }
  .main__article__pros__point {
    font-size: 0.9rem;
    padding: 5px 0;
    display: flex;
    flex-direction: row; }
    .main__article__pros__point img {
      margin-right: 15px;
      width: 60px;
      height: 60px; }
    .main__article__pros__point p {
      padding-top: 20px;
      color: #888888; }

.main__article ul li {
  list-style: none; }

.main__article__center {
  text-align: center; }
  .main__article__center a {
    text-decoration: none;
    border: 2px solid #242424;
    border-radius: 5px;
    padding: 8px;
    color: #242424;
    font-weight: bold;
    font-size: 1rem;
    position: relative; }
    .main__article__center a:after {
      content: "";
      background: #E0E5FF;
      border-radius: 5px;
      z-index: -1;
      width: 102%;
      height: 110%;
      position: absolute;
      top: 5px;
      left: 5px; }
  .main__article__center div p {
    margin: 0;
    font-size: 1.2rem;
    color: #888888; }
  .main__article__center div img {
    width: 80px;
    margin: 10px; }

.main__article__container {
  margin: 35px auto;
  width: 600px; }
  .main__article__container div {
    display: flex;
    flex-direction: row;
    align-items: center; }

.main__article2 {
  margin-top: 8vh;
  padding-bottom: 60px;
  background-color: #FCEDFF;
  font-family: "Nunito", sans-serif; }
  .main__article2 h3 {
    position: relative;
    top: -48px; }
  .main__article2 .center {
    text-align: center; }
  .main__article2 .products {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  .main__article2 .item {
    padding: 0 20px; }
    @media screen and (max-width: 375px) {
      .main__article2 .item {
        padding: 0; } }
    .main__article2 .item img {
      margin-bottom: 20px; }
    .main__article2 .item .bold {
      font-weight: 700; }
    .main__article2 .item p {
      margin: 0; }

.footer {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: row;
  font-family: "Nunito", sans-serif;
  justify-content: center; }
  .footer .footer__column {
    margin: 100px;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 1024px) {
      .footer .footer__column:nth-child(2) {
        display: none; } }
    .footer .footer__column a {
      text-decoration: none; }
    .footer .footer__column .footer__column__socials svg {
      width: 30px;
      height: 30px;
      fill: black;
      color: black;
      margin: 5px;
      transition: 0.3s ease-out; }
    .footer .footer__column .footer__column__socials a:hover svg {
      transition: 0.3s ease-out;
      fill: #ffaffd; }
    @media screen and (max-width: 1024px) {
      .footer .footer__column .footer__column__socials {
        display: flex;
        flex-direction: row; } }
    .footer .footer__column .footer__column__mail {
      margin-top: 10px;
      background-color: #242424;
      color: white; }
      .footer .footer__column .footer__column__mail a h4 {
        color: white;
        font-size: 0.8rem;
        margin: auto;
        text-align: center;
        padding: 5px 10px;
        transition: 0.3s ease-out; }
      .footer .footer__column .footer__column__mail a:hover h4 {
        background-color: #ffaffd;
        transition: 0.3s ease-out; }
  .footer h3 {
    font-weight: bold;
    color: #242424;
    text-align: center;
    font-size: 0.9rem;
    transition: 0.3s ease-out; }
  .footer a h3:hover, .footer h4:hover {
    color: #ffaffd;
    transition: 0.3s ease-out; }
  .footer h2 {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 900; }
  .footer h2 + p {
    font-size: 0.7rem;
    text-align: center;
    font-weight: lighter; }

label {
  display: none; }
  @media screen and (max-width: 1024px) {
    label {
      display: block; } }
  label .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FCEDFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer; }
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out; }
    label .hamburger:after, label .hamburger:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000; }
    label .hamburger:before {
      top: -10px; }
    label .hamburger:after {
      bottom: -10px; }
  label input {
    display: none; }
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FCEDFF, 0 0 0 100vh #FCEDFF;
    border-radius: 0; }
    label input:checked + .menu .hamburger {
      transform: rotate(45deg); }
      label input:checked + .menu .hamburger:after {
        transform: rotate(90deg);
        bottom: 0; }
      label input:checked + .menu .hamburger:before {
        transform: rotate(90deg);
        top: 0; }
  label input:checked + .menu + ul {
    opacity: 1; }
  label ul {
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
    list-style: none;
    font-size: 2rem; }
  label a {
    margin-bottom: 1em;
    display: block;
    color: #888888;
    text-decoration: none; }

.breadcrumbs {
  display: flex;
  flex-direction: row;
  background: #E0E5FF;
  padding: 10px 190px; }
  .breadcrumbs a {
    text-decoration: none;
    color: #242424; }
  .breadcrumbs a:hover {
    color: #ffffff; }
  .breadcrumbs p {
    margin: 0 10px; }
  .breadcrumbs a, .breadcrumbs p {
    font-size: 0.8rem; }

.product {
  padding: 40px 190px;
  display: flex;
  flex-direction: row; }
  .product h4 {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: bold; }
  .product__image {
    border: 10px solid #FCEDFF;
    border-radius: 5px;
    background: #FCEDFF; }
    .product__image img {
      width: 300px; }
  .product__desc {
    margin: 30px; }
    .product__desc p {
      font-size: 0.8rem;
      margin: 5px 0; }
    .product__desc__buttons {
      display: flex;
      flex-direction: row; }
      .product__desc__buttons input {
        width: 100px;
        border-style: none;
        color: #242424;
        font-weight: bold;
        font-size: 1.4rem;
        border-radius: 5px;
        text-align: center;
        background: #E0E5FF; }
      .product__desc__buttons a {
        margin-left: 300px;
        font-size: 1.2rem;
        background: #FCEDFF;
        padding: 15px 30px;
        color: #242424;
        text-decoration: none;
        font-weight: bold; }

.opinion {
  background: #FCEDFF;
  padding: 40px 190px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .opinion h4 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 20px; }
  .opinion__others {
    margin-right: 80px;
    display: flex;
    flex-direction: column; }
    .opinion__others__title {
      display: flex;
      flex-direction: row; }
      .opinion__others__title__stars {
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        padding: 0; }
        .opinion__others__title__stars img {
          margin: 0 2px;
          width: 20px;
          height: 20px; }
    .opinion__others p {
      font-size: 1rem;
      width: 400px; }

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  font-size: 62.5%;
  color: #242424; }

/*# sourceMappingURL=app.css.map */
