@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import "config";
@import "header";
@import "carrousel";
@import "main";
@import "footer";
body{
    margin:0;
    font-size: 62.5%;
    color:$text;
}
